<% @title = 'Register for Fuzzage' %>
<%= error_messages_for 'user' %>
<h1>Register</h1>
<% form_for(@user, :url => { :action => "register" }) do |f| %>
    <fieldset>
        <label>name</label>
            <%= text_field "user", "name", "maxlength" => 100, "size" => 20, :id => "user_name" %><br/>

        <label>email address</label>
            <%= text_field "user", "email", "maxlength" => 50, "size" => 20, :id => "user_email" %><br/>

        <label>password</label>
            <%= password_field "user", "password", "maxlength" => 20, "size" => 20, :id => "user_password" %><br/>

        <label>confirm password</label>
            <%= password_field "user", "confirm_password", "maxlength" => 20, "size" => 20, :id => "user_password_confirm" %>
        <br/>

        <p><input type="submit" value="sign up" id="submit"/></p>
    </fieldset>
<% end %>