<% @title = "Editing Season: #{@season.name}" %>
<h1>Editing season</h1>

<% form_for(@season) do |f| %>
    <%= f.error_messages %>
    <fieldset>
        <label for="season_name">Name</label>
        <%= text_field 'season', 'name', :id=> 'season_name' %> <br/>
         <label for="season_status">Status</label>
        <%= f.select :status, Season.statuses, :id=>'season_status' %> <br/>
    </fieldset>
    <p>
        <%= f.submit "Update", :id=>'submit' %>
    </p>
<% end %>

<%= link_to 'Back', seasons_path, :id=>'back' %>
