<% @title = 'Fuzzage Dashboard' %>
<div class="post">
    <div class="title">
        <h1>Fuzzage Dashboard! </h1>
    </div>
    <div class="entry">
        <h3>Welcome back <%= session[:user].name %>.</h3>
    </div>
    <% seasons_available = open_seasons %>                          
    <% if seasons_available.size > 0 %>
        <div class="entry">
            There are seasons open that you can join:
            <ul>
                <% seasons_available.each do |season| %>
                    <li>
                        <label><%= season.name %></label>
                        =>
                        click <%= link_to "here", { :controller => "register_season", :action => "register", :season_id=> season.id}, {:id=> "join-season-#{season.id}"} %>
                        to join.
                    </li>
                <% end %>
            </ul>
        </div>
    <% end %>
    <% if session[:user].teams.size > 0 %>
        <div class="entry">
            <h3>You have teams in action:</h3>
            <ul>
                <% session[:user].teams.each do |team| %>
                    <li>
                        <b><%= team.name %></b> playing in <b><%= link_to "#{team.season.name}", { :controller => "my_season", :season_id=> team.season.id}, {:id=> "my-season-#{team.season.id}"} %></b>
                    </li>
                <% end %>
            </ul>
        </div>
    <% end %>
</div>

