<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
    <meta http-equiv="content-type" content="text/html;charset=UTF-8"/>
    <title><%= @title %></title>
    <%= stylesheet_link_tag 'default' %>
</head>
<body>
<!-- start header -->
<div id="header">
    <div id="logo">
        <h1><%= link_to "Fuzzage", { :controller => "main", :action => "index"}, {:id=> "home"} %></h1>
    </div>
    <div id="menu">
        <ul>
            <% if session[:user] && session[:user].has_role?('admin') %>
                <li><%= link_to "Admin", { :controller => "admin", :action => "index"}, {:id=> "admin_link"} %></li>
            <% end %>
            <li class="current_page_item"><%= link_to "Dashboard", { :controller => "home", :action => "index"}, {:id=> "dashboard"} %></li>
            <li><a href="#">Table</a></li>
            <li><a href="#">Fixtures</a></li>
            <li><a href="#">Account</a></li>
        </ul>
    </div>
</div>
<!-- end header -->
<!-- start page -->
<div id="page">
    <!-- start sidebar -->
    <div id="sidebar">
        <% if session[:user] %>
            <ul>
                <li id="categories">
                    <ul>
                        <h2>You are logged in.</h2>
                        <li><%= link_to "Logout", { :controller => "main", :action => "logout"}, {:id=> "logout"} %></li>
                    </ul>
                </li>
            </ul>
        <% end %>
    </div>
    <!-- end sidebar -->
    <!-- start content -->
    <div id="content">
        <p style="color: green"><%= flash[:notice] %></p>

        <%= yield %>
    </div>
</div>
<!-- end page -->
<!-- start footer -->
<div id="footer">
    <p class="legal">
        &copy;2008 Fuzzage. Copyright Jon Pither. All Rights Reserved.
</div>
<!-- end footer -->

<!-- style from : http://www.freecsstemplates.org/preview/level2 -->

</body>
</html>
